extends layout

block layout-content
  div.View
    h1.Banner MyTheatre
    div.Message
      div.Title
        h3 Best theatre tickets site
        h1 available dates for show:
        table 
          tr
            th product ID
            th quantity
            th affiliate
          tr
            td=request.urlParams.productId
            td=request.urlParams.quantity
            td=request.query.affiliateId

        table 
          tr
            th datetime
          for item in response
            tr
              td
                a(href='/performance?date='+item.datetime+'&productId='+request.urlParams.productId+'&quantity='+request.urlParams.quantity+'&affiliateId='+request.query.affiliateId) #{item.datetime}
    div.NavButtons
      a(href="/")
          div.NavButton Home!
