const settings = {
  affiliateId: '',
  channelId: '',
  environment: 'staging',
};

const inputs = {
  productId: 1587,
  venueId: 138,
  quantity: 2,
};

const bookingData = {
  redirectUrl: 'https://example.com',
  deliveryMethod: 'C',
  agentDetails: {
    agentId: '',
    agentPassword: '',
  },
}

module.exports.settings = settings;
module.exports.inputs = inputs;
module.exports.bookingData = bookingData;
