extends layout

block layout-content
  span.Details Let's try for "Wicked"
  -if(messages)
    div(class="alert alert-info" role="alert")
      div#note #{messages}
  div.NavButtons
    a(href="/availability")
        div.NavButton Show me availability in manual mode!
    a(href="/product-external")
        div.NavButton Show me availability in widget mode (with external basket)!
    a(href="/product")
        div.NavButton Show me availability in widget mode (with internal basket)!
