extends layout

block layout-content
  div.card
    div.card-body
      div
        b product ID - 
        =request.urlParams.productId
      div
        b quantity   - 
        =request.urlParams.quantity
      div
        b affiliate  - 
        =request.query.affiliateId
      div
        b date  - 
        =request.query.date
      div
        b time  - 
        =request.query.time

  table.table
    thead
      tr
        th(score="col") Seats in lump
        th(score="col") Sale price
        th(score="col")
    tbody
      for lump in response
        for seat in lump.seats
          tr
            td(score="row")=lump.lump
            td(score="row")=seat.pricing.salePrice.currency + ' ' + (seat.pricing.salePrice.value/100).toFixed(2)
            td(score="row")
              a(href='/addToBasket?date='+request.query.date+'&time='+request.query.time+'&productId='+request.urlParams.productId+'&quantity='+request.urlParams.quantity+'&seatKey='+lump.lumpIdentifier+'&number='+seat.number) create basket
