const settings = {
  affiliateId: '',
  channelId: '',
  environment: 'prod',
  inventory: {
    host: 'https://inventory-service.tixuk.io',
    widgetVersion: 'vLatest',
  },
  venue: {
    host: 'https://venue-service.tixuk.io',
    widgetVersion: 'vLatest',
    redirectUrl: 'https://encoretickets.co.uk',
  },
};

const inputs = {
  productId: 1587,
  venueId: 138,
  quantity: 1,
};

const bookingSettings = {
  billingAddress: {
    countryCode: 'UK',
  },
  shopper: {
    firstName: 'First Name',
    lastName: 'Last Name',
  },
  redirectUrl: 'https://example.com',
  deliveryMethod: 'C',
  agentDetails: {
    agentId: '',
    agentPassword: '',
  },
};

module.exports.settings = settings;
module.exports.inputs = inputs;
module.exports.bookingSettings = bookingSettings;
