extends layout

block layout-content
  -if(result === 'success')
    div(class="alert alert-success" role="alert")
      h4(class="alert-heading") Well done!
      p(class="mb-0") Booking #{reference} was successfully confirmed.
    div.NavButtons
        a(href="/")
          div.NavButton Back to home page
