extends layout

block layout-content
  span.Details Let's try for "Wicked"
  -if(messages)
    div(class="alert alert-info" role="alert")
      div#note #{messages}
  div.NavButtons
    a(href="/product")
      div.NavButton Book using internal services
    a(href="/product-external")
      div.NavButton Book using external basket
